.container{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    display: grid;
    grid-template-areas: "menu menu menu"
                         "header header header"
                         "main main aside"
                         "footer footer footer";
    grid-gap: 2px;
    grid-template-rows: 40px 60px 350px 40px;
    grid-template-columns: auto auto 300px;
}

.menu{
    grid-area: menu;
    color: #b03532;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

header{
    grid-area: header;
    background-color: red;
    padding: 15px;
}

main{
    grid-area: main;
    color: #fff;
    font-weight: bold;
    background: url(../images/capa.jpg);
}

main h1{
    background-color: #b03532;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}

main img{
    position: absolute;
}

main section{
    position: relative;
    top: 300px;
}

aside{
    grid-area: aside;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside .texto-1{
    border-bottom: solid #b03532 1px;
}
aside .texto-2{
    border-bottom: solid #b03532 1px;
}
aside .texto-3{
    border-bottom: solid #b03532 1px;
}
aside .texto-4{
    border-bottom: solid #b03532 1px;
}

footer{
    grid-area: footer;
    background-color: #b03532;
    color: #fff;
    text-align: center;
}



